{
    "env": {
        "browser": true,
        "node": true,
        "es2021": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react", "react-hooks"],
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1, "ignoredNodes": ["ConditionalExpression"] }],
        "linebreak-style": ["error", "unix"],
        "no-fallthrough": "off",
        "quotes": ["error", "double"],
        "semi": ["error", "never"],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error"
    }
}
