.AddButton {
    /* dimensions */
    padding: 0em;
    border: none;
    
    /* flex-positioning */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    /* font */
    color: var(--main-link-color);
    white-space: nowrap;
    
    /* other */
    position: relative;
    background-color: var(--clear);
    /* background-color: blue; */
    user-select: none;
}

.AddButton:active {
    background-color: var(--active-shadow);
}

.AddButton .SVGIcon {
    /* background-color: rgba(255,0,0,0.3); */
    width: 2.2em;
    height: 2.2em;
}

.AddButton .SVGIcon svg{
    stroke: var(--main-link-color);
}

.AddButton spacer {
    width: 0.44em;
}
