.DropBarGroup {
    width: 100%;
    height: 100%;
    /* this is set/changed inside a standalone <style /> element */
    --group-animation-offset: 0px;
    --group-animation-time: 0.33s;
}

.DropBarGroup.animating {
    animation: DropBarGroup_animationTimer var(--group-animation-time);
}

@keyframes DropBarGroup_animationTimer {}

.DropBarGroup .DropChild.dropping {
    animation: DropBarGroup_droppingAnimation var(--group-animation-time);
}

@keyframes DropBarGroup_droppingAnimation {
    from {
        transform: translateY(calc(-1 * var(--group-animation-offset)));
    }
}

.DropBarGroup .DropChild.raising {
    animation: DropBarGroup_raisingAnimation var(--group-animation-time);
}

@keyframes DropBarGroup_raisingAnimation {
    to {
        transform: translateY(calc(-1 * var(--group-animation-offset)));
    }
}