.DropBarGroup {
    /* this is set/changed inside a standalone <style /> element */
    --group-animation-offset: 0px;
}

.DropBarGroup .DropChild.dropping {
    animation: DropBarGroup_droppingAnimation 0.33s;
}

@keyframes DropBarGroup_droppingAnimation {
    from {
        transform: translateY(calc(-1 * var(--group-animation-offset)));
    }
}

.DropBarGroup .DropChild.raising {
    animation: DropBarGroup_raisingAnimation 0.33s;
}

@keyframes DropBarGroup_raisingAnimation {
    to {
        transform: translateY(calc(-1 * var(--group-animation-offset)));
    }
}