.NoteBoard {
    /* dimensions */
    width: 100%;
    height: 100%;

    /* flex-positioning */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
