.SVGIcon {
    position: relative;
    width: 100px;
    height: 100px;
}

.SVGIcon svg {
    /* positioning */
    position: absolute;
    top: 0px;
    left: 0px;

    /* dimensions */
    width: 100%;
    height: 100%;

    /* colors */
    background-color: var(--clear);
    fill: var(--clear);
    stroke: var(--main-color);
    stroke-width: 5px;
}

html body .SVGIcon.invalid svg:not(.these_are_really_important) {
    stroke: darkred;
    background-color: lightpink;
}
