html, body {
    margin: 0px;

    /* NOTE: these next two disable page scrolling */
    height: 100%;
    overflow: hidden;
}

html body *:focus {
    outline: none;
}

html body *::-moz-focus-inner {
    border: none;
}

.MainApp {
    /* positioning */
    position: absolute;
    top: 0px;
    left: 0px;

    /* dimensions */
    width: 100vw;
    height: 100vh;

    /* flex-positioning */
    display: flex;
    flex-flow: column nowrap;

    /* colors */
    background-color: var(--window-background-color);
    color: var(--main-color);
}

.MainApp .MainWindow {
    position: relative;
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}

.MainApp .MainWindow .NoteBoard {
    /* positioning */
    /* NOTE: having the combination of position: absolute and parent being a flex
             element allows the element to overflow without taking more than the rest
             of the document space
    */
    position: absolute;
    top: 0px;
    left: 0px;
    
    /* dimensions */
    width: 100%;
    height: auto;

    /* flex-positioning */
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.MainApp .MainWindow .BoardNode {
    width: 100%;
    height: auto;
}

.MainApp .MainWindow .BoardNode > * {
    /* center elements inside nodes */
    margin: auto;
}

.MainApp .MainWindow .NoteBox {
    margin-top: 6px;
    width: 85%;
}

.MainApp .MainWindow .DropBar {
    margin-top: 6px;
    width: 95%;
}

@media (min-width: 31em) {
    .MainApp .MainWindow .DropBar {
        margin-top: 16px;
        width: 83%;
    }
}

.MainApp .MainWindow .AddButton {
    margin-top: 20px;
    font-size: 1.3em;
}

.MainApp .MainWindow .ScrollExtension {
    height: 10em;
}