html, body {
    margin: 0px;

    /* NOTE: these next two disable page scrolling */
    height: 100%;
    overflow: hidden;
}

html body *:focus {
    outline: none;
}

html body *::-moz-focus-inner {
    border: none;
}

.MainWindow {
    /* positioning */
    position: absolute;
    top: 0px;
    left: 0px;

    /* dimensions */
    width: 100vw;
    height: 100vh;

    /* flex-positioning */
    display: flex;
    flex-flow: column nowrap;

    /* colors */
    background-color: var(--window-background-color);
    color: var(--main-color);
}

.MainWindow .PageViewer {
    position: relative;
    width: 100%;
    flex: 1;
}

.MainWindow .PageViewer .DropBarGroup {
    /* positioning */
    /* NOTE: having the combination of position: absolute and parent being a flex
             element allows the element to overflow without taking more than the rest
             of the document space
    */
    position: absolute;
    overflow-y: scroll;
    top: 0px;
    left: 0px;

    /* flex-positioning */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.MainWindow .PageViewer .DropBarGroup .DropBar {
    margin-top: 6px;
    width: 95%;
}

@media (min-width: 31em) {
    .MainWindow .PageViewer .DropBarGroup .DropBar {
        margin-top: 16px;
        width: 83%;
    }
}

.MainWindow .PageViewer .AddButton {
    margin-top: 20px;
    font-size: 1.3em;
}
