.DropMenu .ToggleButton {
    background-color: var(--clear);
    height: 40px;
    padding: 0px 10px;

    color: var(--main-color);
    border: none;

    margin: 0px;
    font-size: calc(15px + 0.16em);
}
.DropMenu .ToggleButton:active {
    background-color: var(--window-background-color);
}

.DropMenuBox {
    /* positioning */
    z-index: 10;

    /* dimensions */
    width: 280px;
    height: 380px;

    /* flex-positioning */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    /* colors */
    background-color: var(--menu-background-color);

    /* animation */
    --animation-time: 0.28s;
}

html .DropMenuBox.initAnimation {
    animation-duration: 0s;
}

.DropMenuBox.showing {
    opacity: 1;
    animation: DropMenuBox-FadeIn var(--animation-time) forwards;
    animation-timing-function: ease-out;
}

@keyframes DropMenuBox-FadeIn {
    from {
        opacity: 0;
        transform: translateY(-50%) scaleY(0);
    }
    to {
        opacity: 1;
    }
}

.DropMenuBox.hiding {
    opacity: 0;
    animation: DropMenuBox-FadeOut var(--animation-time) forwards;
    animation-timing-function: ease-in;
}

@keyframes DropMenuBox-FadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-50%) scaleY(0);
    }
}

.DropMenuBox > * {
    margin: 0px;
    width: 35%;
    height: 26px;
    line-height: 24px;
    color: var(--main-color);
}

.DropMenuBox .Shadow {
    /* positioning */
    position: absolute;
    top: 0px;
    left: 0px;

    /* dimensions */
    height: 30px;
    width: 100%;

    /* background */
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.35),
        rgba(20, 20, 20, 0.15),
        rgba(20, 20, 20, 0)
    );
}

.DropMenuBox > button {
    font-size: 11pt;
    padding: 0px;
    border: none;
    background-color: rgba(57, 57, 69, 0.5);
}

.DropMenuBox > button:active {
    background-color: var(--active-dark);
}

.DropMenuBox > button:disabled {
    border: none;
    background-color: var(--disabled-dark);
    opacity: 0.8;
}

.DropMenuBox > p {
    /* positioning */
    position: relative;
    left: -6px;

    /* text formatting */
    font-size: 24px;
    text-align: left;
    white-space: nowrap;
}
