.SearchBar {
    width: 100%;
    height: 40px;
    background-color: var(--clear);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBar input {
    width: 90%;
    height: 50%;
    /* throwing a little inverted UI up in here... */
    background-color: var(--main-color);
    color: var(--main-color-inv);
    padding: 1px 5px;
    border: none;
    border-radius: 6px 0px 0px 6px;
}

.SearchBar .SearchButton {
    /* these values are flush with the search bar */
    min-width: 22px;
    height: 22px;
    background-color: var(--main-color);
    margin: 0px;
    border: none;
    border-radius: 0px 6px 6px 0px;
    display: flex;
    align-items: center;
}

.SearchBar .SearchButton button {
    position: relative;
    left: -1.5px;
    width: 19px;
    height: 19px;
    /* keeps icon at its full size */
    padding: 0px;
    border: none;
    border-radius: 100px;
    background-color: var(--clear);
}

.SearchBar .SearchButton .SVGIcon {
    width: 100%;
    height: 100%;
}

.SearchBar .SearchButton .SVGIcon svg {
    stroke: var(--main-color-inv);
}

.SearchBar .SearchButton:active button {
    background-color: var(--active-shadow);
}