.SearchBar {
    /* dimensions */
    width: 100%;
    height: 40px;

    /* flex-positioning */
    display: flex;
    justify-content: center;
    align-items: center;

    /* colors */
    background-color: var(--clear);
}

.SearchBar input {
    /* dimensions */
    width: 90%;
    height: 50%;

    /* layout */
    padding: 1px 5px;
    border: none;
    border-radius: 6px 0px 0px 6px;

    /* coloring */
    /* throwing a little inverted UI up in here... */
    background-color: var(--main-color);
    color: var(--main-color-inv);
}

.SearchBar .SearchButton {
    /* dimensions */
    /* these values are flush with the search bar */
    min-width: 22px;
    height: 22px;

    /* layout */
    margin: 0px;
    border: none;
    border-radius: 0px 6px 6px 0px;

    /* flex-positioning */
    display: flex;
    align-items: center;

    /* colors */
    background-color: var(--main-color);
}

.SearchBar .SearchButton button {
    /* positioning */
    position: relative;
    left: -1.5px;

    /* dimensions */
    width: 19px;
    height: 19px;

    /* layout */
    /* (keeps icon at its full size) */
    padding: 0px;
    border: none;
    border-radius: 100px;

    /* coloring */
    background-color: var(--clear);
}

.SearchBar .SearchButton .SVGIcon {
    width: 100%;
    height: 100%;
}

.SearchBar .SearchButton .SVGIcon svg {
    stroke: var(--main-color-inv);
}

.SearchBar .SearchButton:active button {
    background-color: rgba(var(--color-activeShadow), 0.4);
}
