.TopBar {
    /* positioning (hook) */
    position: relative;

    /* dimensions */
    width: 100%;

    /* layout */
    box-sizing: border-box;
    padding: 0px 5px;

    /* flex-positioning */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    /* colors */
    background-color: var(--top-bar-background-color);

    /* animation */
    --slide-animation-time: 0.3s;
}

.TopBar *:focus {
    outline: none;
}

.TopBar *::-moz-focus-inner {
    border: none;
}

.TopBar .AnimationBounds {
    /* keeps animations inside the bar, but not the menu! */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.TopBar .Spacer {
    flex: 1;
    /* guarantees a margin of 5px */
    min-width: 5px;
}

.TopBar .Nav {
    /* positioning */
    position: absolute;
    top: 0px;
    right: 5px;

    /* dimensions */
    width: 75%;

    /* flex-positioning */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    /* animation */
    animation-fill-mode: forwards;
    animation-duration: var(--slide-animation-time);
}

html .TopBar.initAnimation .Nav,
html .TopBar.initAnimation .Search {
    animation-duration: 0s;
}

/* .Uncollapsed wont work as a generic *.Uncollapsed class */
.TopBar .Nav.Uncollapsed {
    animation-name: TopBar-FadeIn, TopBar-UnslideLeft;
    animation-timing-function: ease-out;
}

/* .Collapsed wont work as a generic *.Collapsed class */
.TopBar .Nav.Collapsed {
    opacity: 0;
    pointer-events: none;
    animation-name: TopBar-FadeOut, TopBar-SlideLeft;
    animation-timing-function: ease-in;
}

.TopBar .SVGIcon {
    width: 40px;
    height: 40px;
}

.TopBar .DropMenuBox {
    position: absolute;
    top: 100%;
    left: 10px;
}

.TopBarButton {
    background-color: var(--clear);
    height: 40px;
    padding: 0px 10px;

    color: var(--main-color);
    border: none;

    margin: 0px;
    font-size: calc(15px + 0.16em);
}
.TopBarButton:active {
    background-color: var(--window-background-color);
}
.TopBarButton.selected {
    background-color: var(--window-shadow);
}

.TopBar .DropMenu .ToggleButton {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.TopBar .Search {
    /* positioning */
    position: absolute;
    top: 0px;
    right: 5px;

    /* dimensions */
    width: 75%;

    /* flex-positioning */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    /* animation */
    animation-fill-mode: forwards;
    animation-duration: var(--slide-animation-time);
}

/* .Uncollapsed wont work as a generic *.Uncollapsed class */

.TopBar .Search.Uncollapsed {
    animation-name: TopBar-FadeIn, TopBar-UnslideRight;
    animation-timing-function: ease-out;
}

/* .Collapsed wont work as a generic *.Collapsed class */

.TopBar .Search.Collapsed {
    opacity: 0;
    pointer-events: none;
    animation-name: TopBar-FadeOut, TopBar-SlideRight;
    animation-timing-function: ease-in;
}

@keyframes TopBar-FadeOut {
    from {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes TopBar-FadeIn {
    from {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes TopBar-SlideLeft {
    to {
        transform: translateX(-60%);
    }
}

@keyframes TopBar-UnslideLeft {
    from {
        transform: translateX(-60%);
    }
}

@keyframes TopBar-SlideRight {
    to {
        transform: translateX(60%);
    }
}

@keyframes TopBar-UnslideRight {
    from {
        transform: translateX(60%);
    }
}
