:root {
    /* PRESET: clear */
    --clear: rgba(0, 0, 0, 0);
    /* PRESET: deepNavy */
    --window-background-color: rgb(37, 37, 48);
    --window-shadow: rgba(20, 20, 35, 0.25);
    /* PRESET: softNavy */
    --top-bar-background-color: rgb(57, 57, 69);
    /* PRESET: softNavy */
    --drop-bar-background-color: rgb(57, 57, 69);
    /* PRESET: softNavy */
    --note-box-background-color: rgba(57, 57, 69, 0.73);
    /* PRESET: ghostNavy */
    --menu-background-color: rgb(105, 105, 117);
    /* PRESET: activeNightBlue */
    --active-dark: rgb(84, 92, 142);
    /* PRESET: activeShadow */
    --active-shadow: rgba(2, 0, 12, 0.4);
    /* PRESET: darkGrey */
    --disabled-dark: rgb(60, 60, 60);
    /* PRESET: ghostNavy */
    --note-box-title-border: rgba(105, 105, 117, 0.75);
    /* PRESET: softWhite */
    --main-color: rgb(200, 200, 200);
    /* PRESET: softBlack */
    --main-color-inv: rgb(20, 20, 20);
}